body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #3f3e3e !important;
}

body a {
  text-decoration: none !important;
  color: #3f3e3e;
}

body a:hover {
  text-decoration: none !important;
  color: #3f3e3e;
}

.nav-item a {
  color: #fff !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

header#landing {
  height: 85vh;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 185, 214, 0.9)), to(rgba(68, 86, 222, 0.9))), url(../img/svg/abstract-bg-left.svg), url(../img/svg/abstract-bg.svg);
  background: linear-gradient(rgba(29, 185, 214, 0.9), rgba(68, 86, 222, 0.9)), url(../img/svg/abstract-bg-left.svg), url(../img/svg/abstract-bg.svg);
  background-repeat: no-repeat;
  background-position: right, left;
  overflow-x: hidden;
}

header#landing form {
  max-width: 318px;
}

header#landing form h3 {
  font-weight: 700 !important;
}

header#landing form label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.5px;
}

header#landing form .date-in {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

header#landing form .date-out {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

header#landing form .selection select {
  -webkit-appearance: none;
}

header#landing form .selection i {
  position: absolute;
  right: 8px;
  bottom: 10px;
}

header#landing form button {
  background-color: #FF5A60;
}

header#landing svg {
  position: absolute;
  width: 100%;
  bottom: 0;
}

header#landing svg path {
  fill: #fff;
}

main .sect h5 {
  font-weight: 700;
  color: #3f3e3e;
}

main .sect#explore a:first-child {
  margin-left: 0 !important;
}

main .sect#explore .card-cover {
  width: 280px;
}

main .sect#explore .card {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-shadow: 0px 5px 10px -6px rgba(3, 3, 3, 0.5);
          box-shadow: 0px 5px 10px -6px rgba(3, 3, 3, 0.5);
  height: 100px;
}

main .sect#explore .img-wrap {
  width: 40%;
  overflow: hidden;
}

main .sect#explore .img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main .explore-name {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .explore-name span {
  line-height: 5.5rem;
  padding-left: 1rem;
  font-weight: 700;
}

main .baycenter-plus {
  min-width: 100%;
  height: 250px;
  border-radius: 0.25rem;
  background: url(../img/beach-venue-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .baycenter-plus .caption {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 3px 5px rgba(29, 185, 214, 0.9);
}

main .baycenter-plus button {
  font-size: 11px;
  letter-spacing: 0.5px;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}

main .sect#recommended .recommended-cover {
  position: relative;
}

main .sect#recommended .prev {
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 40%;
  left: -22px;
  background-color: #ffffff;
  background-image: url(../img/svg/left-angle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px #000 !important;
          box-shadow: 0px 0px 8px -3px #000 !important;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

main .sect#recommended .next {
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 40%;
  right: -22px;
  background-color: #ffffff;
  background-image: url(../img/svg/right-angle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-box-shadow: 0px 0px 8px -3px #000 !important;
          box-shadow: 0px 0px 8px -3px #000 !important;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

main .sect#recommended .recommended {
  position: relative;
}

main .sect#recommended .recommended .card-cover {
  width: 180px;
}

main .sect#recommended .recommended .card-cover .card {
  height: 220px;
  position: relative;
}

main .sect#recommended .recommended .card-cover .card:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

main .sect#recommended .recommended .card-cover .card .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main .sect#recommended .recommended .card-cover .card .img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

main .sect#recommended .recommended .card-cover .card .reco-caption {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 1;
}

main .sect#recommended .recommended .card-cover .card .reco-caption span {
  font-weight: 700;
}

main .hosting {
  min-width: 100%;
  height: 300px;
  background: url(../img/groove-venue-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .hosting .caption {
  max-width: 32rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

main .hosting button {
  letter-spacing: 0.5px;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #3f3e3e;
  cursor: pointer;
}

.top-rated .card-cover {
  width: 100%;
}

.top-rated .card-cover .card {
  height: 220px;
}

.top-rated .card-cover .card .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.top-rated .card-cover .card .img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.top-rated .card-cover .detail .place {
  font-size: 11px;
  color: #d4af37;
}

.top-rated .card-cover .detail .review .rating, .top-rated .card-cover .detail .review .stars {
  color: #08898d;
}

.top-rated .show-more {
  color: #08898d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.top-rated .show-more span, .top-rated .show-more i {
  line-height: 2rem;
}

@media (max-width: 480px) {
  header#landing {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  main .hosting .caption {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */