$border-radius-sm: 0.25rem;
$caption-font-size: 3.5rem;
$base-font-color: #3f3e3e;
$small-uppercase: 11px;
$half-spacing: 0.5px;
$lighter-blue-gradient: rgba(29, 185, 214, 0.9);
$darker-blue-gradient: rgba(68, 86, 222, 0.9);
$golden-color: #d4af37;
$blue-text-color: rgb(8, 137, 141);

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: $base-font-color !important;
    a{
        text-decoration: none !important;
        color: $base-font-color;
        &:hover{
            text-decoration: none !important;
            color: $base-font-color;
        }
    }
}
.nav-item a{
    color: #fff !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
header#landing{
    height: 85vh;
    width: 100%;
    position: relative;
    background: linear-gradient($lighter-blue-gradient, $darker-blue-gradient), url(../img/svg/abstract-bg-left.svg), url(../img/svg/abstract-bg.svg);
    background-repeat: no-repeat;
    background-position: right, left;
    overflow-x: hidden;
    form{
        max-width: 318px;
        h3{font-weight: 700 !important}
        label{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 11px;
            letter-spacing: $half-spacing;
        }
        .date-in{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .date-out{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .selection{
            select{
                -webkit-appearance: none;
            }
            i{
                position: absolute;
                right: 8px;
                bottom: 10px;
            }
        }
        button{
            background-color: #FF5A60;
        }
    }
    svg{
        position: absolute;
        width: 100%;
        bottom: 0;
        path{
            fill: #fff;
        }
    }
}
main{
    .sect h5{
        font-weight: 700;
        color: $base-font-color;
    }
    .sect#explore{
        a:first-child{
            margin-left: 0 !important;
        }
        .card-cover{
            width: 280px;
        }
        .card{
            flex-direction: row !important;
            box-shadow: 0px 5px 10px -6px rgba(3,3,3,0.5);
            height: 100px;
        }
        .img-wrap{
            width: 40%;
            overflow: hidden;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .explore-name{
        display: flex !important;
        align-items: center;
        span{
            line-height: 5.5rem;
            padding-left: 1rem;
            font-weight: 700;
        }
    }
    .baycenter-plus{
        min-width: 100%;
        height: 250px;
        border-radius: $border-radius-sm; 
        background: url(../img/beach-venue-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .caption{
            font-family: 'Great Vibes', cursive;
            font-size: $caption-font-size;
            font-weight: 600;
            letter-spacing: 1px;
            text-shadow: 1px 3px 5px $lighter-blue-gradient;
        }
        button{
            font-size: $small-uppercase;
            letter-spacing: $half-spacing;
            border-radius: $border-radius-sm;
            font-weight: 700;
            cursor: pointer;
        }
    }
    .sect#recommended{
        .recommended-cover{
            position: relative;

        }
        .prev{
            display: block;
            position: absolute;
            height: 35px;
            width: 35px;
            top: 40%;
            left: -22px;
            background-color: #ffffff;
            background-image: url(../img/svg/left-angle.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            box-shadow: 0px 0px 8px -3px #000 !important;
            border-radius: 50%;
            cursor: pointer;
            z-index: 1;
        }
        .next{
            display: block;
            position: absolute;
            height: 35px;
            width: 35px;
            top: 40%;
            right: -22px;
            background-color: #ffffff;
            background-image: url(../img/svg/right-angle.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            box-shadow: 0px 0px 8px -3px #000 !important;
            border-radius: 50%;
            cursor: pointer;
            z-index: 1;
        }
        .recommended{
            position: relative;
            // width: min-content;
            .card-cover{
                width: 180px;
                .card{
                    height: 220px;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
                        border-radius: $border-radius-sm;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .img-wrap{
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        img{
                            object-fit: cover;
                            border-radius: $border-radius-sm;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .reco-caption{
                        position: absolute;
                        bottom: 30px;
                        width: 100%;
                        z-index: 1;
                        span{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .hosting{
        min-width: 100%;
        height: 300px;
        background: url(../img/groove-venue-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .caption{
            max-width: 32rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.2rem;
            letter-spacing: 1px;
        }
        button{
            letter-spacing: $half-spacing;
            border-radius: $border-radius-sm;
            font-weight: 700;
            color: $base-font-color;
            cursor: pointer;
        }
    }
}
.top-rated{
    .card-cover{
        width: 100%;
        .card{
            height: 220px;
            .img-wrap{
                overflow: hidden;
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    border-radius: $border-radius-sm;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .detail{
            .place{
                font-size: $small-uppercase;
                color: $golden-color;
            }
            .review{
                .rating,.stars{color: $blue-text-color}
            }
        }
    }
    
    .show-more{
        color: $blue-text-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        span,i{line-height: 2rem}
    }
}

@media (max-width: 480px){
    header#landing{
        height: 100vh;
    }
}

@media (max-width: 767px){
    main .hosting .caption{
        font-size: 1.2rem;
    }
}